@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES*/
:root{
    /*GENERALES*/
    --color-btn: #FFBE33;
    --color-btn-hover: #FFD270;
    --color-textbtn:#EFF6F5;
    --text-parrafos:"Poppins", sans-serif;
    --text-titulos: "Mochiy Pop One", sans-serif;
    /*CON FONDO OSCURO*/
    --color-background-oscuro:#2a2a2a;
    --color-titulos-oscuro:#EFF6F5;
    --color-parrafos-oscuro: #A1A5A6;
    /*CON FONDO CLARO*/
    --color-background-claro: #EFF6F5;
    --color-titulos-claro:#000000;
    --color-parrafos-claro: #2a2a2a;
    --color-card: #d9d9d9;    
}
body {
    font-family: var(--text-parrafos);
    margin: 0;
    padding: 0;
}
/* ********************************** */
/*       MENÚ DE NAVEGACIÓN           */
/* ********************************** */



/* ********************************** */
/*            BANNER                  */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN ABOUT US             */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN DE PRODUCTOS         */
/* ********************************** */
.container-principal-productos{
    margin-bottom:220px; 
}
.titulo-productos {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

h2.titulo-productos {
    margin-top: 10px; 
    color: var(--color-titulos-claro);
    font-size: 30px;
    font-family: var(--text-titulos);
}
.container-productos{
    margin: 40px auto;
    box-shadow: 0 0 7px #222;
    width: 90%;
   height: auto;
}
.header-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button.btn{
    font-size: 20px;
    font-family: var(--text-titulos);
    font-weight: 500;
}
.btn{
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    width: 200px;
    cursor: pointer;
    background-color: var(--color-background-oscuro);
    font-size: 1em;
    font-family: var(--text-parrafos);
    font-weight: 800;
}
button.marked {
    background-color: var(--color-btn);
}
.btn:focus{
    background-color:var(--color-btn);
}

.btn[data-number="1"]::after {
    content: "🍔";
}

.btn[data-number="2"]::after {
    content: "🍕";
}

.btn[data-number="3"]::after {
    content: "🌭";
}

.btn[data-number="4"]::after {
    content: "🥖";
}



.contenido-productos {
    width: 100%;
    position: relative;
    height: auto; 
}
.content_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.block{
    transform: scale(1);
    z-index: 10;
}
.hidden {
    display: none;
}

/* card productos */
.container-card{
    margin-bottom: 20px;
    padding: 80px 30px 0px 10px;  
}
.card-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px 15px 0;
    max-width: 300px;
    min-height: 150px;
    background-color: var(--color-card);
    position: relative;
    border-radius: 20px;
}
.img-productos, .img-productos-panchos{
    max-width: 150px;
    position: absolute;
    bottom: 70%;
    cursor: pointer;
    transition: transform 0.3s; 
    margin-bottom: 10px;
}
.img-productos-pizza{
    max-width: 120px;
    position: absolute;
    bottom: 70%;
    cursor: pointer;
    transition: transform 0.3s; 
    margin-bottom: 25px;
}
.img-productos:hover, .img-productos-pizza:hover {
    transform: scale(1.1); 
}
h1.nombre-productos{
    font-size: 18px;
    font-weight: 800;
    font-family: var(--text-titulos);
    color: var(--color-background-oscuro);
    text-align: center;
    margin-bottom: 20px;
}
h2.descripcion-productos{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--text-parrafos);
    color: #400F0F;
    text-align: center;
    margin-bottom: 10px; 
    word-wrap: break-word; 
}
.contenedor-precio-button{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
span.precio-producto{
    font-size: 20px;
    font-family: var(--text-parrafos);
    font-weight: 700;
    color: var(--color-titulos-claro);
    margin-left: 30px; 
}

.btn-plus {
    font-size: 24px; 
    font-weight: bold; 
    background-color:var(--color-btn); 
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    cursor: pointer; 
    outline: none; 
    margin-right: 20px; 
    float: right; 
    transition: transform 0.3s, background-color 0.3s;
}

.btn-plus:hover {
    transform: scale(1.1); 
    background-color:var(--color-btn-hover);
}


/*******************************************************************/
 /* Media query para dispositivos móviles */
 @media only screen and (max-width: 768px) {
    .container-productos {
        height: auto; 
    }
    h2.titulo-productos {
        font-size: 24px; 
    }
    div.header-productos{
        margin-bottom: 20px;

    }
    .btn {
        font-size: 0 !important; 
        width: 80px; 
        height: 40px;
    }

    .btn::after {
        content: attr(data-emoji); 
        font-size: 30px; 
        margin-bottom: 10px; 
        display: block;   
    }
    .container-card {
        width: 80%; 
        margin: 0 auto; 
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 15px;    
        padding: 30px 120px 0px 120px;  
    }

    .card-productos {
        max-width: calc(100% - 20px); 
        width: auto;
    }

    .img-productos {
        max-width: 120%; 
        max-height: 120px; 
        width: auto; 
        height: auto; 
        margin-bottom: 18px; 
    }
    .img-productos-panchos {
        max-width: 80%; 
        max-height: 100px; 
        width: auto; 
        height: auto; 
        margin-bottom: 15px; 
    }
    .img-productos-pizza{
        max-width: 100%; 
        max-height: 120px; 
        width: auto; 
        height: auto; 
        margin-bottom: 20px;
        margin-top: 15px;
    }
    h1.nombre-productos {
        font-size: 14px; 
        margin-bottom: 5px; 
    }

    h2.descripcion-productos {
        font-size: 12px; 
        margin-bottom: 5px; 
    }

    .precio-producto {
        font-size: 12px; 
        margin-right: 10px;
    }
}

/* Media query para dispositivos entre 769px y 1024px (antes de la pantalla de notebook) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-productos {
        height: auto; 
    }
    .header-productos {
        margin-bottom: 10px; 
    
    }
    button.btn{
        font-size: 15px;
        font-family: var(--text-titulos);
        font-weight: 500;
    }
    .btn{
        width: 150px;
    }
    .container-card {
        margin-bottom: 20px;
        padding: 60px 30px 0px 50px;  
    }
    .card-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        padding: 10px 15px 0;
        max-width: 300px; 
        min-height: 150px; 
        background-color: var(--color-card);
        position: relative;
        border-radius: 20px;
    }
    .img-productos {
        max-width: 150px;
        position: absolute;
        bottom: 70%;
        cursor: pointer;
        transition: transform 0.3s; 
        margin-bottom: 10px;
    }
    .img-productos-pizza {
        max-width: 120px;
        position: absolute;
        bottom: 70%;
        cursor: pointer;
        transition: transform 0.3s; 
        margin-bottom: 25px;
    }
    .img-productos:hover, .img-productos-pizza:hover {
        transform: scale(1.1); 
    }
    h1.nombre-productos {
        font-size: 18px;
        font-weight: 800;
        font-family: var(--text-titulos);
        color: var(--color-background-oscuro);
        text-align: center;
        margin-bottom: 20px;
    }
    h2.descripcion-productos {
        font-size: 13px;
        font-weight: 400;
        font-family: var(--text-parrafos);
        color: #400F0F;
        text-align: center;
        margin-bottom: 10px; 
        word-wrap: break-word; 
    }
    .contenedor-precio-button {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }
    span.precio-producto {
        font-size: 20px;
        font-family: var(--text-parrafos);
        font-weight: 700;
        color: var(--color-titulos-claro);
        margin-left: 30px; 
    }
}

  /*Media query para dispositivos con una resolución mayor a 1024px */
@media only screen and (min-width: 1025px) {
    .container-productos {
        height: auto; 
    }
}*

/* ********************************** */
/*            FORMULARIO              */
/* ********************************** */ 




/* ********************************** */
/*          PIE DE PÁGINA             */
/* ********************************** */