@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES*/
:root{
    /*GENERALES*/
    --color-btn: #FFBE33;
    --color-btn-hover: #FFD270;
    --color-textbtn:#EFF6F5;
    --text-parrafos:"Poppins", sans-serif;
    --text-titulos: "Mochiy Pop One", sans-serif;
    /*CON FONDO OSCURO*/
    --color-background-oscuro:#2a2a2a;
    --color-titulos:#EFF6F5;
    --color-parrafos: #A1A5A6;
    /*CON FONDO CLARO*/
    --color-background-claro: #EFF6F5;
    --color-titulos:#000000;
    --color-parrafos: #2a2a2a;
    --color-card: #d9d9d9;    
}
body {
    font-family: var(--text-parrafos);
    margin: 0;
    padding: 0;
}
/* ********************************** */
/*       MENÚ DE NAVEGACIÓN           */
/* ********************************** */



/* ********************************** */
/*            BANNER                  */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN ABOUT US             */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN DE PRODUCTOS         */
/* ********************************** */



/* ********************************** */
/*            FORMULARIO              */
/* ********************************** */ 




/* ********************************** */
/*          PIE DE PÁGINA             */
/* ********************************** */