@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES*/
:root{
    /*GENERALES*/
    --color-btn: #FFBE33;
    --color-btn-hover: #FFD270;
    --color-textbtn:#EFF6F5;
    --text-parrafos:"Poppins", sans-serif;
    --text-titulos: "Mochiy Pop One", sans-serif;
    /*CON FONDO OSCURO*/
    --color-background-oscuro:#2a2a2a;
    --color-titulos-oscuro:#EFF6F5;
    --color-parrafos-oscuro: #A1A5A6;
    /*CON FONDO CLARO*/
    --color-background-claro: #EFF6F5;
    --color-titulos-claro:#000000;
    --color-parrafos-claro: #2a2a2a;
    --color-card: #d9d9d9;    
}
body {
    font-family: var(--text-parrafos);
    margin: 0;
    padding: 0;
}
/* ********************************** */
/*       MENÚ DE NAVEGACIÓN           */
/* ********************************** */

/* desktop */

header a{
    color: var(--color-titulos);
    text-decoration: none;
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
}

.navbarDesktop{
    display: flex;
    width: 90vw;
    margin: 5vh 0 0 0;
    background-color: var(--color-background-claro);
    justify-content: space-between;
    align-items: center;
    font-size: large;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.58);
    border-radius:  50px 15px 15px 50px ;
}

#logoDesktop{
    width: 50px;
    height: 50px;
    margin: 10px;

}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text-titulos) ;
}

.opcionesContainer{
    display: flex;
    margin: 0 30px 0 0;
}

.opciones{
    margin: 0 20px;
}

/* Mobile */

#opcionesMobile{
    display: none;
}

.navbarMobile{
    display: none;
}

#opcionesMobile{
    position: absolute;
    left: 0px;
    display: flex;
    align-items: right;
    flex-direction: column;
    background-color: #FFBE33;
    width: 85vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
}

#opcionesMobile svg, img{
    padding: 0 5px;
    height: 25px;
    width: 25px;
}

#fondoOscuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 99; /* Z-index inferior al de #opcionesMobile */
}

.item{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight:500;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
}

#logoDesplegablecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text-titulos);
    font-size:large;
    padding: 2rem 0;
    
}

#logoDesplegable svg{
    width: 10px;
    height: 10px;
}

#close{
    align-self: flex-end;
    margin: 10px 5px;
    background-color: transparent;
    border: none;
}

.navbarAbierto{
    display: flex !important;
}

.navbarCerrado{
    display:none !important;
}


/* ********************************** */
/*            BANNER                  */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN ABOUT US             */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN DE PRODUCTOS         */
/* ********************************** */



/* ********************************** */
/*            FORMULARIO              */
/* ********************************** */ 




/* ********************************** */
/*          PIE DE PÁGINA             */
/* ********************************** */








@media (max-width: 1024px) {
    


/* ********************************** */
/*       MENÚ DE NAVEGACIÓN           */
/* ********************************** */

#logoMobile{
    width: 55px;
    height: 55px;
    margin: 10px;
}

.navbarDesktop{
    display: none;
}

.navbarMobile{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-btn);
    padding: 1px 15px;
    border-radius: 100px;
    margin: 10px;
    border: 0;
}
/* 
#opcionesMobile{
    display: flex;
} */



    
/* ********************************** */
/*            BANNER                  */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN ABOUT US             */
/* ********************************** */



/* ********************************** */
/*       SECCIÓN DE PRODUCTOS         */
/* ********************************** */



/* ********************************** */
/*            FORMULARIO              */
/* ********************************** */ 



/* ********************************** */
/*          PIE DE PÁGINA             */
/* ********************************** */
  }